/*-- scss:defaults --*/
$font-family-sans-serif: "Libre Franklin", sans-serif;
$headings-font-family: "Lora", serif;

$body-bg: #1a1a2e;
$body-color: #f0f0f0;
$primary: #8fb4d0;
$link-color: #8fb4d0;
$sidebar-bg: #1a1a2e;

/*-- scss:rules --*/
.sidebar-title {
    font-family: "Lora", serif;
    font-weight: 700;
}
