project:
  type: website
  output-dir: docs
  render:
    - "*.qmd"
    - "!llms-for-social-scientists/"  # course is a separate Quarto book project, rendered independently
  resources: # here we need to add any files that users should be able to download
    - files/taking-the-green-pill.pdf
    - docs/cv/index.pdf

website:
  title: "Lorcan McLaren" # website title, this is what's displayed on the top
  favicon: "images/icon.png"
  twitter-card: 
    creator: "@LorcanMcLaren"
  open-graph: true
  site-url: https://lorcanmclaren.com
  navbar: # Options for website navigation (including bar). For alternatives see https://quarto.org/docs/websites/website-navigation.html
    right: # links displayed in navigation bar
      - href: index.qmd
        text: About
      - href: "#research"
        text: Research 
      - href: "#teaching"
        text: Teaching
      - href: "#contact"
        text: Contact
      - href: ./cv
        text: CV
  search: false
  page-footer:
    center: |
      <a href="https://lorcanmclaren.com">Lorcan McLaren</a> · © <script>document.write(new Date().getFullYear())</script>


# Formatting. For more options see https://quarto.org/docs/output-formats/html-basics.html 
format:
  html:
    fontsize: 110%
    linestretch: 1.5
    theme:
      light:
        - simplex
        - custom-light.scss
      dark:
        - simplex
        - custom-dark.scss
    css: styles.css # custom file to adjust some css options 
    toc: true
    link-external-newwindow: true
    header-includes:
      - <link rel="preconnect" href="https://fonts.googleapis.com">
      - <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      - <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap" rel="stylesheet">
      - <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
# mainfont: Montserrat


