---
title: Blog
---
<h1>Latest Posts</h1>

<section id="posts" class="py-5">
	<div class="container">
	  <div class="row">
		<div class="col">
		  {% for post in site.posts %}
			<div>
			  <h2><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h2>
			  <p class="text-info lead">
				{{ post.date | date: "%b %-d, %Y" }}
			  </p>
  
			  <p>
				{% if post.summary %}
				  {{ post.summary }}
				{% else %}
				  {{ post.excerpt }}
				{% endif %}
			  </p>
			</div>
		  {% endfor %}
		</div>
	  </div>
	</div>
  </section>