/*-- scss:defaults --*/
$font-family-sans-serif: "Raleway", sans-serif;

.navbar {
    font-family: "Raleway", sans-serif !important; /* Replace 'YourFontFamily' with your chosen font */
    font-weight: 800;
}

$navbar-fg: white;
$primary: #008000;
$link-color: #008000;

$body-bg: black;
