/*-- scss:defaults --*/
$font-family-sans-serif: "Libre Franklin", sans-serif;
$headings-font-family: "Lora", serif;

$body-bg: #1a1a2e;
$body-color: #d4d4d4;
$primary: #d4956a;
$link-color: #d4956a;

$navbar-bg: #1a1a2e;
$navbar-fg: #d4d4d4;

/*-- scss:rules --*/
.navbar {
    font-family: "Lora", serif !important;
    font-weight: 600;
    border-bottom: 1px solid #555555;
}

.navbar-brand {
    font-weight: 700 !important;
}

.navbar-nav .nav-link {
    font-weight: 400 !important;
}
