/*-- scss:defaults --*/
$font-family-sans-serif: "Raleway", sans-serif;

.navbar {
    font-family: "Roboto Condensed", sans-serif !important; /* Replace 'YourFontFamily' with your chosen font */
}
$primary: #008000;
$link-color: #008000;

$body-bg: black;
