/*-- scss:defaults --*/
$font-family-sans-serif: "Libre Franklin", sans-serif;
$headings-font-family: "Lora", serif;

$body-bg: #f9f6f1;
$body-color: #333333;
$primary: #7a4a5d;
$link-color: #7a4a5d;

$navbar-bg: #f9f6f1;
$navbar-fg: #333333;

/*-- scss:rules --*/
.navbar {
    font-family: "Lora", serif !important;
    font-weight: 600;
    border-bottom: 1px solid #333333;
}

.navbar-brand {
    font-weight: 700 !important;
}

.navbar-nav .nav-link {
    font-weight: 400 !important;
}
