/* update how links are displayed */ 
a {
  text-decoration: none;
}

i {
  font-size: 1.4em;
  margin-right: 10px;
}

.fa-solid {
  font-size: 1em;
}

.fa-regular {
  font-size: 1em;
}

.prof-icon {
  margin-right: 10px;
  font-size: 1.4em;
}

.coauthors {
  display: inline-block;
  font-size: 0.9em;
  color: #555;
  font-style: italic;
}

.journal {
  display: inline-block;
  font-size: 0.9em;
  color: #555;
}

.paper-links {
  display: inline-block;
  margin-top: 0.4em;
  font-size: 0.9em;
}

.paper-links a {
  text-decoration: underline;
}

.paper-links-auto a + a::before {
  content: " | ";
  text-decoration: none;
  color: #333;
}

.abstract-toggle {
  cursor: pointer;
}

.abstract-content {
  margin-top: 0.8em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.6;
  width: 100%;
  max-width: 100%;
}

.abstract-text {
  color: #444;
}

.abstract-text p {
  margin: 0 0 1em 0;
}

.abstract-text p:last-child {
  margin-bottom: 0;
}

.round-image {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: top center;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* add an image_list class which then can be removed on mobile */
.image_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

/* remove image in list on mobile */
@media screen and (max-width: 600px) {
    .image_list {
      visibility: hidden;
      display: none;
    }
  }

/* adjust font size for smaller screen */
/* @media all and (max-width: 600px) {
    body {
      font-size: 70%;
    }
    p {
        font-size: 70%;
    }
    abstract-title {
        font-size: 70%;
    }
    button.scale {
            font-size: 70%;  
            border-radius: 6px;
            padding: 3px 3px
        }
  } */